version: "3.9"
services:
  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data
    networks:
      - keycloak-network
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: keycloak
    depends_on:
      - keycloak-db
    restart: unless-stopped
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
    volumes:
      - ./realm-nucleus.json:/opt/keycloak/data/import/realm-nucleus.json:ro
    ports:
      - "8081:8080"
    networks:
      - keycloak-network
volumes:
  keycloak-db-data: {}
networks:
  keycloak-network:
    driver: bridge
